USE [master]
GO
/****** Object:  Database [SecureCrypt]    Script Date: 01-04-2024 10:40:24 PM ******/
CREATE DATABASE [SecureCrypt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'authenticate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\authenticate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'authenticate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\authenticate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecureCrypt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecureCrypt]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 01-04-2024 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[Subject] [varchar](256) NOT NULL,
	[Message] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EncryptDecryptLog]    Script Date: 01-04-2024 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncryptDecryptLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlainText] [text] NULL,
	[EncryptRDecryptText] [text] NULL,
	[privatekey] [varchar](255) NULL,
	[Mode] [varchar](50) NULL,
	[Userid] [int] NULL,
 CONSTRAINT [PK__EncryptD__3214EC07C8B88989] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-04-2024 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[APIKey] [varchar](256) NOT NULL,
	[Userid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[APIKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Count]    Script Date: 01-04-2024 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Count]  
as  
begin  
select * from users;  
select @@ROWCOUNT count 
end
GO
/****** Object:  StoredProcedure [dbo].[SignIn]    Script Date: 01-04-2024 10:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SignIn](
@Email varchar(255),
@password varchar(255))
as
begin
if exists(select 1 from users where email=@Email and Password=@password)
begin
select '1' as status
end
else if exists(select 1 from users where Email=@Email)
begin
select '2' as status
end
else
begin
select '0' as status
end
end
GO
USE [master]
GO
